<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false"
         bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false"
         stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="./build/coverage/html" lowUpperBound="35" highLowerBound="70"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Remit Spider US Bank Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <logging/>
    <php>
        <env name="CTS_USER" value="user"/>
        <env name="CTS_PASS" value="pass"/>
        <env name="PATH_TO_DEBUG_SCREENSHOTS" value="/Users/foobar/PhpstormProjects/RemitSpiderCTSLink/tests/screenshots/"/>
        <env name="PATH_TO_FILE_DOWNLOADS" value="/Users/foobar/PhpstormProjects/RemitSpiderCTSLink/tests/downloads/"/>

        <env name="PATH_TO_IDS" value="/path/to/ids"/>
        <env name="CHROME_PATH" value="/path/to/chromium"/>
        <env name="PORTFOLIO_ID" value="1"/>
        <env name="DEAL_SUFFIX" value=""/>
        <env name="HISTORY_LINK" value=""/>
        <env name="FILE_LINK" value="" />
        <env name="FILE_LINK_404" value="" />
    </php>
</phpunit>
